# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.d
*.pc
smt-player/ffmpeg/doc
smt-player/ffmpeg/.config
smt-player/ffmpeg/config.log
smt-player/ffmpeg/ffmpeg
smt-player/ffmpeg/ffmpeg_g
smt-player/ffmpeg/config.asm
smt-player/ffmpeg/config.fate
smt-player/ffmpeg/config.h
smt-player/ffmpeg/config.mak
smt-player/ffmpeg/doc/config.texi
smt-player/ffmpeg/libavutil/ffversion.h
ffplay
ffplay_g
ffprobe
ffprobe_g
ffserver
ffserver_g
#
#
